.tile {
    font-size: 40px;
    background: rgb(43, 198, 126);
    color: rgb(56, 56, 56);
    padding: 1.68rem;
    border-radius: 40px;
    width: 87%;
    max-width: 500px;
    margin: 1rem auto;
    font-family: 'Teko', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(73, 79, 75);
    background-image: url('backdrop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.temp {
    padding: 1.75rem;
    font-family: 'Teko', sans-serif;
    font-size: 48px;
}

.nav {
    padding: 1.75rem;
    font-family: 'Teko', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 0.35rem;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
}
